header{
    display:inline;
}
header img{
    width: 100%;
    height: 20%;
}
nav ul li{
    display:inline;
    margin-right:2em;
    margin-left: 2em;
    border-radius: 4px;
    transition: background-color 0.5s;
    font-family: 'Courier New', Courier, monospace;
    font-size: larger;
    
}

nav ul li:hover{
    background-color: rgb(255, 255, 255);

}

nav{
    background: linear-gradient(to bottom right, rgb(221, 255, 0),rgb(253, 163, 255));
    text-align: center;
    height: 100px;
    margin-top: -20px;
    margin-bottom: 20px;
}

main{
    margin-left: 50px;
    margin-right: 50px;
}
html{
     background-color: rgb(55, 54, 54);
}
p{
    color: rgb(242, 242, 242);
    font-family: 'Courier New', Courier, monospace;
    font-size: larger;
}

.publicaciones{
    border-left: solid;
    border-right: solid;
    border-bottom: solid;
    border-top: solid 2em;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;

}

.divpublis{
    margin: 0 auto;
    text-align: center; 
}

.user{
    display: contents;
}

.fotoPerfil{
    border-radius: 100px;
    width: 100px;
    margin-left: 100px;
    margin-top: 50px;
}
.usuario{
    margin-top: -59.5px;
    margin-left: 230px;
    font-size: 200%;
}
.infoPersonal{
    margin-left: 110px;
}
.ultPublicaciones{
    color: white;
    text-align: center;
}
.ultFoto{
    width: 500px;
}

.morante.publicaciones {
    width: 700px;
    margin-left: 100px;
}
.amigos{
    margin-left: 240px;

}
.amigosNumero{
    margin-left: 260px;
}


.config{
    margin-left: 400px;
    padding: 20px;
    width: 30px;
    transition: 0.5s linear;
}  
.config:hover{
    transform: rotate(45deg);
    filter: grayscale();
}
.descripcion{
    border: solid rgb(253, 163, 255);
    border-top-left-radius: 45px;
    border-top-right-radius: 45px;
    border-collapse: collapse;
    color: rgb(225, 224, 225);
    margin-left: 320px;
    margin-top: -70px;
}
.descripcion th{
    border: solid;
    border: solid rgb(253, 163, 255);
    text-align: center;
}

.descripcion td{
    border: solid rgb(253, 163, 255);
    text-align: center;
    width: 100px;
}

.contenido {
    max-width: 210px;
    margin: 20px auto;
    padding: 20px;
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    border-radius: 5px;
    
  }

.header {
    text-align: center;
    margin-bottom: 20px;
  }

.title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }

.botones {
    font-size: 16px;
    color: #666;
  }

.contcartas {
    margin-bottom: 20px;
  }
.buttons {
    text-align: center;
  }

.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: rgb(253, 163, 255);
    color: rgb(255, 255, 255);
    font-size: 16px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    margin: 5px;
}

.fotoPerfilSugerencias{
    width: 150px;
    border-radius: 110px;
  }

h2{
    text-align: center;
    color: #f2f2f2;
  }
.cartas{
    display: flex;
    margin:2em;
  }
aside{
    float: right;
  }

a{
    text-decoration: none;
}

.enviar{
    border-radius: 50px;
    margin-bottom: 50px;
    margin-left: 50px;
}
